
.central-content {
  background-color: white;
  color: black;
  padding: Calc(2vw + 2vh);
  width: 80vw;
  flex-shrink: 0;
  margin: 0 auto;
}

.central-content-container {
  /* justify-content: center; */
  min-width: 100vw;
}

.title-bar {
  width: 50vw;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

