
body {
  font-family: "Century Gothic", "Lato", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.et-hero-tabs {
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
  position: relative;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  align-items: center;
  height: 100vh;
  background: black;
  text-align: center;
}

.et-hero-tabs header,
.et-slide header {
  font-size: 2rem;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-slide {
  overflow: hidden;
  justify-content: flex-start;
}

@media (min-width: 800px) {
  .et-hero-tabs header,
  .et-slide header {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}

::selection {
  background: black;
  color: white;
}
::-moz-selection {
  background: black;
  color: white;
}